*{
	margin:0px;
	border:0px;
	padding:0px;
}
body{
	margin:0;
}
header{
	width: 100%;
	position: fixed;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
	opacity: 0.70;
}
#logo{
	padding-left: 100px;
}
nav{
	float:right;
	padding-top: 25px;
	padding-right: 100px;
}
ul{

}
nav ul li{
	display: inline-block;
	padding-bottom:;

}
#bgimg{
	background-image: url("images/1.jpg") 
	width:100%;
	/*background-color: blue;padding-top: 50%;*/

}