.container-fluid{
	padding: 0;
}
.navbar-brand #glogo{
	height: 100%;
}
#navigation{
	padding-left:15px;
	padding-right: 15px;
}


/**{
	margin:0px;
	border:0px;
	padding:0px;
}
body{
	margin:0;
}
header{
	width: 100%;
	position: fixed;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
	opacity: 0.70;
}
#logo{
	padding-left: 100px;
}
nav{
	float:right;
	padding-top: 25px;
	padding-right: 100px;
}
ul{

}
nav ul li{
	display: inline-block;
	padding-bottom:;

}
#bgimg{
	width: 100%;
	height: 100%;
}
#bgimg1{
	width:100%;
}*/